venv/
__pycache__/
.env
*.pyc
rootkey.csv
click/
click-*.dist-info/
colorama/
colorama-*.dist-info/
joblib/
joblib-*.dist-info/
nltk/
nltk-*.dist-info/
regex/
regex-*.dist-info/
textblob/
textblob-*.dist-info/
tqdm/
tqdm-*.dist-info/
bin/

*.zip
lambda_package/